html {
    background-color: #801361;
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {    
    margin:0;
    color: white;
    background-color: #801361;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0 0;
    font-size: 30px;
    text-align: center;
    user-select:none;    
}
.NavItem {
    margin: auto 70px;
    padding: 0;
}
h1{
    margin:0;
    color:black; 
}
.TextBox {
    background-color: white;
    width: 60%;
    margin:10px auto;
    padding: 10px 10px;     
    border-radius:5px;
}
.Title {
    display:inherit;
}
.Title:link {
    text-decoration: none;    
}
.Title:active {
    text-decoration: blink;
    color: black;
}

.Title:hover {
    text-decoration: underline;
    color: black;
}

.Title:visited {
    text-decoration: none;
    color: black;
}
.Middle {
    margin: 0px 0px 10px; 
    display:inherit;
}
.Left {
    width:40%;    
    margin:0 1%;
}
.Right {
    width: 40%;
    margin: 0 1%;
}
.Preview {
    color: gray;
    font-size: 16px;
    margin: 0;    
}
.Content {
    background-color: #d4d4d4;
    border-radius: 3px;
    padding:0 20px 10px; 
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    display:inline-block;
}
nav > ul {
    float: left;
    padding: 15px;
    margin:0;
}
nav > ul > li {
    float: left;
    padding: 0;
    margin:0;
}
nav > ul > li > a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding:0;
}
.SelectedNavItem {
    text-shadow: -3px 2px 5px black;
}
.footer {    
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    background-color: #801361;
    width: 100%;
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
    user-select:none;
}
body {      
    margin:0;
    padding: 0;
    border-radius:5px;
}
