html{
    background-image:url(background.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}
.nav {
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    background-color: black;
    width: 100%;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
}
.footer {    
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
}
.NavItem{
    margin:0 100px;
}
body {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 0px 0px;
}
.HeaderDivision {
    height: 60px;
}

.FooterDivision {
    height: 60px;
}
